.product-card {
  position: relative;
  max-width: 220px;
  min-width: 220px;
  max-height: 375px;
  height: 375px;
  margin: 20px 15px;
  text-align: center;

  h3 {
    text-transform: capitalize;
  }

  h3,
  p {
    margin: 10px 0;
  }

  img {
    display: block;
    max-width: 150px;
    margin: 0 auto;
  }

  span {
    display: inline-block;
  }

  .rating {
    margin: 5px 0 0 0;
  }

  .add-to-cart {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 75%;
    border-radius: 20px;
    border: 2px solid #333;
    cursor: pointer;
    padding: 8px 15px;
    margin: 10px auto;
    font-size: 0.85rem;

    &:hover {
      background: #333;
      color: #fff;
    }
  }

  .cart-item {
    position: absolute;
    bottom: 18px;
    left: 0;
    right: 0;
    i {
      color: green;
    }
  }
}
